In [1]:
# 1
a = [0, 1, 2, 3, 4]
print(a[ : 3], a[ : -3])

[0, 1, 2] [0, 1]

In [2]:
# 2
a = [0, 1, 2, 3, 4]
print(a[ : : -1])

[4, 3, 2, 1, 0]

In [36]:
# 3
first = ["egg", "salad", "bread", "soup", "canafe"]
second = ["fish", "lamb", "pork", "beef", "chicken"]
third = ["apple", "banana", "orange", "grape", "mango"]

order = [first, second, third]
john = [order[0][ : -2], second[1 : : 3], third[0]]
print(john)
del john[2]
john.extend([order[2][0 : 1]])
print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], 'apple']
[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

In [29]:
# 4
list_a = [3, 2, 1, 4]
list_b = list_a.sort() # list.sort()는 반환값이 없음 / sorted()가 정렬된 리스트 반환
# list_b = sorted(list_a)
print(list_a, list_b)

[1, 2, 3, 4] None

In [37]:
# 5
a = [5, 7, 3]
b = [3, 9, 1]
c = a + b
c.sort()
# c = sorted(c)
print(c)

[1, 3, 3, 5, 7, 9]

In [7]:
# 7
fruits = ["apple", "banana", "cherry", "grape", "orange", "strawberry", "melon"]
print(fruits[-3 : ], fruits[1 : : 3])

['orange', 'strawberry', 'melon'] ['banana', 'orange']

In [8]:
# 8
num = [1, 2, 3, 4]
print(num * 2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [9]:
# 9
a = [1, 2, 3, 5]
b = ['a', 'b', 'c', 'd', 'e']

a.append('g')
b.append(6)
print('g' in b, len(b))

False 6

In [10]:
# 10
list_a = ["Hankook", "University", "is", "an", "academic", "institute", "located", "in", "South Korea"]
list_b = []
for i in range(len(list_a)):
    if i % 2 != 1:
        list_b.append(list_a[i])
print(list_b)

['Hankook', 'is', 'academic', 'located', 'South Korea']

In [38]:
# 11
admission_year = input("입학 년도를 입력하세요 : ")
year = 2018
print(type(year))
print(type(admission_year))

입학 년도를 입력하세요 : 2018
<class 'int'>
<class 'str'>

In [15]:
# 12
country = ["Korea", "Japan", "China"]
capital = ["Seoul", "Tokyo", "Beijing"]
index = [1, 2, 3]
country.append(capital)
country[3][1] = index[1 : ]
print(country)

['Korea', 'Japan', 'China', ['Seoul', [2, 3], 'Beijing']]

In [17]:
# 13
week1 = ["Mon", "Tue", "Wed"]
week2 = ["Thu", "Fri", "Sat", "Sun"]
week3 = [""]
print(week2[ : len(week3) + 1])

['Thu', 'Fri']

In [41]:
# 14
a = 1
b = 1
print(a is b)

a = 256
b = 256
print(a is b)

a = 257
b = 257
print(a is b)

True
True
False

In [42]:
# 15
a = [5, 4, 3, 2, 1]
b = a
c = [5, 4, 3, 2, 1]
print(a is b)
print(a is c)

True
False

In [51]:
print(3 + 1 - 2)
print(3 - 1 + 2)
print(3 * 1 - 2)
nums = []
print(nums)
for i in range(1, 4):
    nums.append(i)
    print(nums)

2
4
1
[]
[1]
[1, 2]
[1, 2, 3]